
.header-inner{
    display: flex;
    
}
.cvres{
    width: 210mm;
    min-height: 297mm;

    margin: 10% auto;
    background-color: rgb(75, 218, 218);
}
.img{
    margin: 8px;
    border-radius: 10px;
}
.header-name{
    margin-left: 20px;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
}
.header-profile{
    margin: 20px;
}
.header-name>h1{
    display: flex;
}
.header-name>p{
    margin: 0%;
    
}

@media screen and (max-width: 480px) {
  .cvres {
    width: 100%;
  }
    .header-inner{
        font-size: xx-small;

    }
    .img{
        
        font-size: 4em;
    }
    .header-name {
        font-size: xx-small;
        /* min-width:95%; */
        /* height:55%; */
        margin: 0%;
    }
    h1{
        
        margin: 15px;
    }
    .header-profile{
        font-size: xx-small;
        margin: 0;
        padding: 0;

    }
    .exp-exp{
        
        width: auto;
    }
    .con-ed{
        display: block;
        flex-direction: column;
    }
    .experience{
        font-size: xx-small;
        margin: 0%;
        /* min-width: 100em; */
    }
    .education{
        font-size: xx-small;
        margin: 0%;
        padding: 0%;
    }
    .p1{
        /* width: 0; */
        display: flexbox;
        align-items: center;
        justify-content: center;
        margin: 3% 0 3% 0;
        font-size: xx-small;
        
        
        

    }
    .education-masters{
        font-size: xx-small;
        margin: 0 ;
        
        width: auto;
        /* bottom: 20px; */
        flex-direction: column;
        
    }
    .education-masters p{
        font-size: small;
        margin: 5px 0;
        padding: 5px 0;
        /* width: 85%; */
    }
    .cvres{
        width: auto;
    }
    /* .education-masters p{
        font-size: small;
        margin: 5px 0;
        padding: 5px 0;
        width: auto;
    } */
    .education-bachelor{
        width: auto;
        margin: 0 ;
        
        flex-direction: column;
    }
    .education-bachelor p{
        font-size: small;
        margin: 5px 0;
        padding: 5px 0;
        /* width: 85%; */
    }
    h1{
        font-size: medium;
        margin: 0;
    }
    h3{
        font-size: medium;
        margin: 0;
        
    }
    h5{
        font-size: small;
        margin: 0;
        
    }
    h6{
        margin: 0;
        font-size: x-small;
    }
    .experience{
        margin: 0;
        padding: 0;
    }
    
    .soft{
        margin: 0;
        font-size: small;
        width: auto;
        flex-direction: column;
    }
    .soft p{
        font-size: small;
        margin: 5px 0;
        padding: 5px 0;
        /* width: 85%; */
        
    }
    .Web{
        /* width: 500px;
        
        top: 10px; */
        margin: 0;
        font-size: small;
        width: auto;
        flex-direction: column;
    }
    .Web p{
        font-size: small;
        margin: 5px 0;
        padding: 5px 0;
        /* width: 85%; */
        
    }
    .graph{
        
        margin: 0;
        font-size: small;
        width: auto;
        flex-direction: column;
    }
    .graph p{
        font-size: small;
        margin: 5px 0;
        padding: 5px 0;
        /* width: 85%; */
        
    }
    .edu-exp{
        /* margin: 10%; */
        width: auto;
    }
    
}

body{
    height: auto;
    display: block;
    
    /* border-radius: 20px;
    border: 3px solid black;
    width: 60%;
    padding: 5%; */
}
.reference{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
}
.address{
    display: flex;
}
.phone{
    display: flex;
}
.email{
    display: flex;
}
.exp-exp{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    
    
}

.edu-exp{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    
    
    
}
.expertise{
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.bil{
    margin: 3%;
}
.image{
    width: 5%;
    height: 5%;
}
.image1{
    width: 5%;
    height: 5%;
}
.image2{
    width: 5%;
    height: 5%;   
}
.education{
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /* width: 500px; */
    font-size: 11px;
}
.education-masters{
    /* width: 500px; */
    
    margin: 0 auto;
    
    /* bottom: 20px; */
    
}
.education-bachelor{
    /* width: 500px; */
    margin: 20px;
    margin: 0 auto;
    
    /* bottom: 50px; */
}
.con-ed{
    display: flex;
    
    font-size: smaller;
    flex-wrap: wrap;
}
.par{
    
    top: 40px;
}
.experience{
    
    /* top: 350px;
    right: 500px; */
    font-size: 11px;
    
}
.p1{
    display: flex;
    
    
}
.experience>h3{
    
    top: 30px;
    
}
.soft{
    /* width: 500px; */
    
    top: 15px;
}
.Web{
    /* width: 500px; */
    
    top: 10px;
}
.graph{
    /* width: 500px; */
    
    
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border: none;
    color: rgb(178, 181, 165);
    background-color: rebeccapurple;
    margin: 5px;
    border-radius: 10px;
    transition: ease-out 0.8s ;
    outline: none;
    font-size: small;
    

}
a{
    text-decoration: none;
    color: #000;
}
.btn1:hover{
    color: rgba(17, 115, 228, 0.845);
    background-color: rgb(220, 8, 188);

}
.btn1:active{
    bottom: 3px solid rgb(212, 34, 212);
    background-color: rgb(35, 229, 220)
}
