
.header-inner{
    display: flex;
    
}
.cvres{
    width: 210mm;
    min-height: 297mm;
    color: rgb(0, 0, 0);
    margin: 10% auto;
    box-shadow: inset 3px black;
    background-color: rgb(181, 196, 196);
    border: dashed rgb(0, 0, 0) 2px;
}
.img{
    margin: 8px;
    border-radius: 10px;
}
.education h3{
    font-size: large;
}
.header-name{
    margin-left: 20px;
    flex-direction: column;
    display: flex;
    margin-top: 10px;
    margin: 20px;
    padding: 20px;
}
.header-profile{
    margin: 20px;
}
.header-name>h1{
    display: flex;
}
.header-name>p{
    margin: 0%;
    
}

@media screen and (max-width: 480px) {
  .cvres {
    width: 100%;
  }
    
    .img{
        
        font-size: 4em;
    }
    .header-name {
        
        /* min-width:95%; */
        /* height:55%; */
        margin: 0%;
    }
    h1{
        
        margin: 15px;
    }
    .header-profile{
        
        margin: 0;
        padding: 0;

    }
    .exp-exp{
        
        width: auto;
    }
    .con-ed{
        display: block;
        flex-direction: column;
    }
    
    .experience{
        
        margin: 0%;
        /* min-width: 100em; */
    }
    .education{
        
        margin: 0%;
        padding: 0%;
    }
    .p1{
        /* width: 0; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 20px;
    }
    .education-masters{
        
        margin: 0 ;
        
        width: auto;
        /* bottom: 20px; */
        flex-direction: column;
        
    }
    .education-masters p{
        
        margin: 5px;
    padding: 5px;

        /* width: 85%; */
    }
    .cvres{
        width: auto;
    }
    /* .education-masters p{
        font-size: small;
        margin: 5px 0;
        padding: 5px 0;
        width: auto;
    } */
    .education-bachelor{
        width: auto;
        margin: 0 ;
        
        flex-direction: column;
    }
    
    h1{
        font-size: medium;
        margin: 0;
    }
    h3{
        font-size: x-large;
        margin: 5px;
        
    }
    h5{
        
        margin: 0;
        
    }
    h6{
        margin: 0;
        
    }
    .experience{
        margin: 0;
        padding: 0;
    }
    
    .soft{
        margin: 0;
        
        width: auto;
        flex-direction: column;
    }
    .soft p{
        
        margin: 5px 0;
        padding: 5px 0;
        /* width: 85%; */
        
    }
    .Web{
        /* width: 500px;
        
        top: 10px; */
        margin: 2%;
        
        width: auto;
        flex-direction: column;
    }
    .Web p{
        
        margin: 20px;
    padding: 20px;
        /* width: 85%; */
        
    }
    .graph{
        
        margin: 2%;
        
        width: auto;
        flex-direction: column;
    }
    .graph p{
        
        margin: 20px;
    padding: 20px;
        /* width: 85%; */
        
    }
    .edu-exp{
        /* margin: 10%; */
        width: auto;
        margin: 10px;
    }
    
}

body{
    height: auto;
    display: block;
    /* font-family: 'Bangers', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Macondo', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Righteous', cursive; */
font-family: 'Bangers', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Macondo', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nanum Myeongjo', serif;


color: rgb(0, 0, 0);
    /* border-radius: 20px;
    border: 3px solid black;
    width: 60%;
    padding: 5%; */
}
.contact{
    margin: 10px;
    padding: 10px;
    display: block;
    flex-direction: column;
}
.reference{
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
}
.address{
    display: flex;
    font-size: medium;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.phone{
    display: flex;
    font-size: medium;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.email{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: medium;
    margin: 5px;
}
.exp-exp{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    
    
}

.edu-exp{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    
    
    
}
.expertise{
    flex-direction: column;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.bil{
    margin: 5px;
    padding: 5px;
    font-size: medium;
}
.image{
    width: 15%;
    height: 15%;
}
.image1{
    width: 15%;
    height: 15%;
}
.image2{
    width: 15%;
    height: 15%;   
}
.education{
    display: block;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /* width: 500px; */
    font-size: 11px;
}
.education-masters{
    /* width: 500px; */
    
    margin: 5px;
    
    /* bottom: 20px; */
    
}
.education-bachelor{
    /* width: 500px; */
    margin: 5px;
    
    /* bottom: 50px; */
}
.con-ed{
    display: flex;
    
    


    
}
.par{
    font-size: medium;
    top: 40px;
}
.experience{
    
    /* top: 350px;
    right: 500px; */
    font-size: 11px;
    
}
h6{
    font-size: medium;
}
.p1{
    display: flex;
    font-size: medium;
    margin: 5px;
    padding: 5px;
}
.experience>h3{
    font-size: medium;
    top: 30px;
    
}
.p2{
    font-size: 140%;
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border: none;
    color: rgb(178, 181, 165);
    background-color: rgb(120, 120, 120);
    margin: 5px;
    border-radius: 10px;
    transition: ease-out 0.8s ;
    outline: none;
    
    

}
a{
    text-decoration: none;
    color: #000;
}
.btn1:hover{
    color: rgba(17, 115, 228, 0.845);
    background-color: rgb(220, 8, 188);

}
.btn1:active{
    bottom: 3px solid rgb(212, 34, 212);
    background-color: rgb(35, 229, 220)
}
